$footer-bg:                                 #f8f8f8;
$footer-border:                             #e5e5e5;
$footer-color:                              #909090;
$padding-left:   16px;
$padding-right:  16px;
