$icon-font-path: "/styles/fonts/";


@import 'variables.scss';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "angular-growl.min.scss";

@import 'general.scss';
@import '../main/footer.scss';
@import '../main/main.scss';
@import '../main/navbar.scss';
@import '../main/login/login.scss';
@import '../components/notification-service/_notification.scss';

