// # Footer
// #########
@import 'variables.scss';

footer {
  line-height: 6px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 44px;
  color: $footer-color;
  margin: 0;
  padding-top: 18px;
  font-size: 12px;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border;

  ul {
    padding-left: 0;
    margin: 0 0px 0 0;

    li {
      display: inline;
      list-style-type: disc;
      padding-right: 0;
      padding-right: 1em;
      a {
        color: $footer-color;
      }
    }
  }
}
