// # Footer
// #########
@import '../styles/_base.scss';

footer {
  line-height: 6px;
  height: 44px;
  color: $footer-color;
  margin: 0;
  margin-top: 54px;
  padding-top: 18px;
  padding-right: 24px;
  font-size: 12px;
  border-top: 1px solid $footer-border;

  ul {
    padding-left: 0;
    margin: 0 0px 0 0;

    li {
      display: inline;
      list-style-type: disc;
      padding-right: 1em;
      a {
        color: $footer-color;
      }
    }
  }
}
