// # Footer
// #########

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  color: $footer-color;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border;
  z-index: 1;

  ul {
    padding-left: 0;
    margin: 10px 0px 0 0px;

    li {
      display: inline;
      list-style-type: disc;
      padding-right: 1em;
      a {
        color: $footer-color;
      }
    }
  }
}
